@using Readdit.Infrastructure
@using Readdit.Infrastructure.Dto
@model Paged<LinkDto>

@{
    ViewData["Title"] = "Home Page";
    ViewData["ReturnUrl"] = "/";
}

<div class="text-center">
    @foreach(var link in Model.Items)
    {
        <partial name="_linkPartial", model="@link" view-data="ViewData"/>
    }

</div>

<div class="row d-flex justify-content-center">
    @if (Model.PageNumber == 1)
    {
        <a class="disabled pagination-link">&laquo;Back</a>
    }
    else
    {
        <a class="pagination-link" asp-action="Index" asp-controller="Home" asp-route-page="@(Model.PageNumber - 1)">&laquo;Back</a>
    }

    @if (Model.PageNumber >= Model.TotalNumberOfPages)
    {
        <a class="disabled pagination-link">Next&raquo;</a>
    }
    else
    {
        <a class="pagination-link" asp-action="Index" asp-controller="Home" asp-route-page="@(Model.PageNumber + 1)">Next&raquo;</a>
    }
</div>
