@using Readdit.Infrastructure
@using Readdit.Infrastructure.Dto
@model Paged<LinkDto>

@{
    ViewData["Title"] = "Home Page";
    ViewData["ReturnUrl"] = "/";
    var paginationModel = (Model.PageNumber, Model.TotalNumberOfPages);
}

<div class="text-center">
    @foreach(var link in Model.Items)
    {
        <partial name="_linkPartial", model="@link" view-data="ViewData"/>
    }

</div>
<partial name="_pagination" model="@paginationModel"/>
