@using Readdit.Infrastructure.Dto
@model ICollection<LinkDto>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @foreach(var link in Model)
    {
        <p>@link.Url</p>
    }
</div>
