@using Readdit.Infrastructure.Dto
@model IReadOnlyList<LinkDto>
@{
    ViewData["Title"] = "Home Page";
    ViewData["ReturnUrl"] = "/";
}

<div class="text-center">
    @foreach(var link in Model)
    {
        <partial name="_linkPartial", model="@link" view-data="ViewData"/>
    }
</div>
