@using Readdit.Infrastructure.Dto
@model ICollection<LinkDto>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @foreach(var link in Model)
    {
        <partial name="_linkPartial", model="@link" />
    }
</div>
