@model Readdit.Infrastructure.Application.Links.Commands.CreateLink.CreateLinkCommand


<div class="box">

<h5 class="page-header">Submit a link</h5>

    <form method="post" asp-action="Create" asp-controller="Links">
        <div class="form-group">
            <label asp-for="@Model.Url"></label>
            <span class="text-danger" asp-validation-for="Url"></span>
            <input class="form-control" asp-for="@Model.Url" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.Description"></label>
            <span class="text-danger" asp-validation-for="Description"></span>
            <input class="form-control" asp-for="@Model.Description" />
        </div>
        <button type="submit" class="btn btn-primary mb-3">Submit</button>
    </form>

</div>
