/* GLOBAL STYLES*/
body {
    background: #DAE0E6;
}
main {
    max-width: 820px;
    margin: 0 auto;
}

/*HELPERS*/
.no-decoration {
    color: black;
    text-decoration: none;
}

    .no-decoration:hover {
        text-decoration: none;
        color: black;
    }

.button {
    background-color: #0079D3;
    padding: 5px 8px;
    font-size: .85em;
    border-radius: 3px;
    font-weight: 700;
    margin: 0 5px;
    margin-left: 0;
}

.buttons-group {
    margin-bottom: 10px;
}

    .button:hover {
        cursor: pointer;
        background-color: #0062aa;
    }

.box {
    background-color: white;
    border-radius: 3px;
    padding: 10px 15px 0 15px;
    box-sizing: border-box;
    margin-bottom: 10px;
}


/* POST STYLES*/
.sidebar {

    background: #F8F9FA;
    max-width: 40px;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.post {
    margin-left: 10px;
    
}

.post-wrapper {
    background: white;
    margin-bottom: 10px;
    border-radius: 2px;
}

.main {
    flex-direction: column;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.foot {
    display: flex;
    align-content: flex-end;
}

/* COMMENT STYLES*/
.comment {
    padding: 5px 0 10px;
    background: #fff;
    margin: 10px 0 10px 0;
}

/* SUBREADDIT STYLES*/
.subreaddit-header {
    margin-bottom: 20px;
}


/* PAGINATION*/
.pagination-link {
    margin-left: 10px;
}






