@model Readdit.Infrastructure.Application.Comments.Commands.CreateCommentCommand

    <form method="post" asp-action="Create" asp-controller="Comments">
        <input asp-for="@Model.LinkId" hidden="hidden" , value="@ViewData["LinkId"]" />
        
        <div class="form-group">
            <textarea class="form-control" rows="3" 
                      asp-for="@Model.Content" placeholder="Leave a comment."></textarea>
        <button type="submit" class="btn btn-sm btn-light">Submit</button>
        </div>
    </form>

