@model Readdit.Infrastructure.Application.SubReaddits.Commands.CreateLinkForSubReaddit.CreateLinkCommand

@{
    ViewData["Title"] = "CreateLink";
}

<h1>CreateLink</h1>

<form method="post" asp-action="CreateLink" asp-controller="SubReaddit">
    <div class="form-group row">
        <label asp-for="Url"></label>
        <span class="badge badge-danger" asp-validation-for="Url"></span>
        <input class="form-control" asp-for="Url" />
    </div>
    <div class="form-group row">
        <label asp-for="Description"></label>
        <span class="badge badge-danger" asp-validation-for="Description"></span>
        <input class="form-control" asp-for="Description" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>