@model Readdit.Models.SubReaddits.SubReadditViewModel
@{
    ViewData["Title"] = "SubLinks";
    ViewData["returnUrl"] = $"/sub/{Model.SubReaddit.Name}";
    var paginationModel = (Model.PagedLinks.PageNumber, Model.PagedLinks.TotalNumberOfPages);
}

    <div class="box">
        <div class="row">
            <div class="col-sm-auto">
                <h3>@Model.SubReaddit.Description</h3>
            </div>
            <div class="col-sm d-flex align-items-center">
                <a class="button no-decoration" 
                    asp-action="CreateLink"
                    asp-controller="SubReaddit"
                    asp-route-subReadditName="@Model.SubReaddit.Name">Submit a link</a>
                <a class="button no-decoration">Join</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p>@Model.SubReaddit.Name</p>
            </div>
        </div>
    </div>

    <div class="text-center">
        @foreach (var link in Model.PagedLinks.Items)
        {
            <partial name="_linkPartial" , model="@link" view-data="ViewData" />
        }
    </div>

    <partial name="_pagination" , model="paginationModel" view-data="ViewData" />

